__pycache__/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production

/credentials/gemini_api_key.txt

/output/
/images/
/test/
/ai_generated

*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma
*.tar.lz
*.tar.lzo
*.tar.lrz
*.tar.lzo
*.tar.lzo

/venv/
/zunk